In [1]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [2]:
from IPython.display import display, HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

### Create the schema of the streamed files (check the column names and types from the CSV files)

In [3]:
SreamSchema = StructType([ StructField('Id',IntegerType(), True),
                            StructField('Date',DateType(), True),
                            StructField('Open', DoubleType(), True),
                            StructField('High', DoubleType(), True),
                            StructField('Low', DoubleType(), True),
                            StructField('Close', DoubleType(), True),
                            StructField('Adj_Close', DoubleType(), True),
                            StructField('Volume', IntegerType(), True)])

### Create the dataframe by reading the stream using format "csv" and the schema you created.

In [4]:
df = spark.readStream.format("csv")\
.schema(SreamSchema)\
.load("/home/mohamed/ITI/Pyspark/practical2/InputStream")

### Make sure the dataframe is streaming the files from the folder

In [5]:
df.isStreaming

True

### Create a stream writer into memory and specify the query name "stock:

In [6]:
writermem=df.writeStream.outputMode("append")\
.format("memory")\
.queryName("stock")

### Start the write stream and make sure it works (read all columns from the table)

In [7]:
query1= writermem.start()

23/10/06 11:20:11 WARN ResolveWriteToStream: Temporary checkpoint location created which is deleted normally when the query didn't fail: /tmp/temporary-f695e9f4-2d83-4c1b-a8e2-d8abfdc654ba. If it's required to delete it under any circumstances, please set spark.sql.streaming.forceDeleteTempCheckpointLocation to true. Important to know deleting temp checkpoint folder is best effort.
23/10/06 11:20:11 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.

In [8]:
df2 = spark.sql('select * from stock')
df2.show()

+---+----+----+----+---+-----+---------+------+
| Id|Date|Open|High|Low|Close|Adj_Close|Volume|
+---+----+----+----+---+-----+---------+------+
+---+----+----+----+---+-----+---------+------+

In [9]:
df2 = spark.sql('select * from stock')
df2.show(50)

+----+----------+------------+------------+------------+------------+------------+------+
|  Id|      Date|        Open|        High|         Low|       Close|   Adj_Close|Volume|
+----+----------+------------+------------+------------+------------+------------+------+
|NULL|      NULL|        NULL|        NULL|        NULL|        NULL|        NULL|  NULL|
|  40|2000-02-29|25163.699219|26087.699219|24239.599609|25519.099609|24115.490234|233246|
|  41|2000-03-01|25519.099609|25519.099609|25519.099609|25519.099609|24115.490234|     0|
|  42|2000-03-02|25767.900391|29144.300781|25767.900391|28575.699219|27003.972656|408391|
|  43|2000-03-03|27793.800781|29499.800781|26798.599609|27864.800781|26332.175781|216505|
|  44|2000-03-06|28291.300781|29144.300781|27367.300781|28717.800781|27138.255859|170784|
|  45|2000-03-07|28575.699219|29357.599609|27935.900391|28504.599609| 26936.78125|109730|
|  46|2000-03-08|28078.099609|28291.300781|     27154.0|28113.599609|26567.289063| 89331|
|  47|2000-03-09|28717.800781|29428.699219|28078.099609|     28433.5|26869.591797|196669|
|  48|2000-03-10|28646.800781|28717.800781|27367.300781|28078.099609|26533.740234| 87502|
|  49|2000-03-13|     27154.0|28149.199219|     27154.0|27722.699219|26197.890625| 59507|
|  50|2000-03-14|27935.900391|27935.900391|25945.599609|26869.699219|25391.804688| 43611|
|  51|2000-03-15|25945.599609|26798.599609|25234.699219|26798.599609|25324.617188| 74138|
|  52|2000-03-16|27082.900391|28291.300781|26016.699219|26016.699219|24585.720703| 84548|
|  53|2000-03-17|26016.699219|26869.699219|24523.900391|25341.400391|23947.566406| 66119|
|  54|2000-03-20|25519.099609|25519.099609|     24595.0|24879.300781|23510.880859| 53458|
|  55|2000-03-21|24523.900391|25945.599609|24026.300781|24523.900391|23175.029297| 83282|
|  56|2000-03-22|24239.599609|25128.099609|24097.400391|24452.800781|23107.839844| 43892|
|  57|2000-03-23|24879.300781|25305.800781|23813.099609|23813.099609|22503.324219| 68089|
|  58|2000-03-24|     24168.5|25590.199219|23813.099609|25092.599609|23712.449219| 59226|
|  59|2000-03-27|24879.300781|25590.199219|24239.599609|24879.300781|23510.880859| 50926|
|  60|2000-03-28|24879.300781|25376.900391|24239.599609|24666.099609|23309.408203| 30387|
|  61|2000-03-29|24701.599609|24737.199219|23955.199219|24666.099609|23309.408203| 65556|
|  62|2000-03-30|24666.099609|24666.099609|23813.099609|     24168.5|22839.177734| 38124|
|  63|2000-03-31|     24168.5|24488.400391|24026.300781|     24168.5|22839.177734| 24478|
|  64|2000-04-03|24808.199219|24808.199219|23137.800781|23457.599609|22167.376953| 32638|
|  65|2000-04-04|22533.599609|23813.099609|22533.599609|23457.599609|22167.376953| 68089|
|  66|2000-04-05|23457.599609|23457.599609|23457.599609|23457.599609|22167.376953|     0|
|  67|2000-04-06|23457.599609|23813.099609|22782.400391|23102.199219|21831.525391| 25041|
|  68|2000-04-07|23422.099609|26229.900391|22746.800781|23102.199219|21831.525391|195685|
|  69|2000-04-10|23102.199219|23813.099609|22817.900391|23244.400391| 21965.90625| 93692|
|  70|2000-04-11|23244.400391|     23351.0|22213.699219|22213.699219|20991.894531| 33341|
|  71|2000-04-12|22249.199219|22391.400391|21751.599609|22178.099609|20958.253906| 38546|
|  72|2000-04-13|22178.099609|22178.099609|22178.099609|22178.099609|20958.253906|     0|
|  73|2000-04-14|21751.599609|21822.699219|21111.900391|21680.599609|20488.117188| 33622|
|  74|2000-04-17|     19903.5|20969.699219|     19050.5|19761.300781|18674.380859| 56272|
|  75|2000-04-18|20472.099609|     21183.0|19619.099609|     19903.5|18808.763672| 62321|
|  76|2000-04-19|20614.300781|20898.599609|20187.800781|20614.300781| 19480.46875| 56131|
|  77|2000-04-20|20578.800781|21147.400391|     20401.0|     20756.5|19614.847656| 29824|
|  78|2000-04-21|     20756.5|21360.699219|     20756.5|21254.099609|20085.078125| 69495|
|  79|2000-04-24|21538.400391|     21609.5|20685.400391|21538.400391|20353.740234| 40234|
|NULL|      NULL|        NULL|        NULL|        NULL|        NULL|        NULL|  NULL|
|   0|2000-01-04|22817.900391|25696.800781|22817.900391|24879.300781|23510.880859|108745|
|   1|2000-01-05|24523.900391|26229.900391|23670.900391|24417.300781|23074.294922|175990|
|   2|2000-01-06|24381.699219|24666.099609|22746.800781|22817.900391|21562.865234| 71746|
|   3|2000-01-07|     22036.0|24879.300781|     22036.0|23884.199219|22570.513672|120984|
|   4|2000-01-10|24879.300781|25519.099609|23813.099609|24061.900391|22738.439453|151371|
|   5|2000-01-11|     24168.5|     25021.5|23955.199219|24239.599609|22906.365234| 95943|
|   6|2000-01-12|     24168.5|24452.800781|23457.599609|23670.900391|22368.947266| 61899|
|   7|2000-01-13|23670.900391|24132.900391|23102.199219|23244.400391| 21965.90625| 57538|
+----+----------+------------+------------+------------+------------+------------+------+
only showing top 50 rows

23/10/06 11:20:15 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

### Remove the first row from the data (hint: drop the rows where ALL values are null), then add a new column "diff", which is the difference between high and low columns

In [10]:
df_drop = df.na.drop(how='all')
df_3=df_drop.withColumn('diff',df_drop['High']-df_drop['Low'])

### Create a new write stream using the new generated dataframe and call the generate table "modified_data"

In [11]:
Newwriter=df_3.writeStream.outputMode("append")\
.format("memory")\
.queryName("modified_data")

In [12]:
query2= Newwriter.start()

23/10/06 11:20:18 WARN ResolveWriteToStream: Temporary checkpoint location created which is deleted normally when the query didn't fail: /tmp/temporary-3bceb10b-22b8-494c-a205-4d5e8bc98086. If it's required to delete it under any circumstances, please set spark.sql.streaming.forceDeleteTempCheckpointLocation to true. Important to know deleting temp checkpoint folder is best effort.
23/10/06 11:20:18 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.

In [13]:
df_4 = spark.sql('select * from modified_data')
df_4.show()

+---+----------+------------+------------+------------+------------+------------+------+------------------+
| Id|      Date|        Open|        High|         Low|       Close|   Adj_Close|Volume|              diff|
+---+----------+------------+------------+------------+------------+------------+------+------------------+
| 40|2000-02-29|25163.699219|26087.699219|24239.599609|25519.099609|24115.490234|233246|1848.0996099999975|
| 41|2000-03-01|25519.099609|25519.099609|25519.099609|25519.099609|24115.490234|     0|               0.0|
| 42|2000-03-02|25767.900391|29144.300781|25767.900391|28575.699219|27003.972656|408391|3376.4003900000025|
| 43|2000-03-03|27793.800781|29499.800781|26798.599609|27864.800781|26332.175781|216505| 2701.201172000001|
| 44|2000-03-06|28291.300781|29144.300781|27367.300781|28717.800781|27138.255859|170784|            1777.0|
| 45|2000-03-07|28575.699219|29357.599609|27935.900391|28504.599609| 26936.78125|109730|1421.6992180000016|
| 46|2000-03-08|28078.099609|28291.300781|     27154.0|28113.599609|26567.289063| 89331|1137.3007810000017|
| 47|2000-03-09|28717.800781|29428.699219|28078.099609|     28433.5|26869.591797|196669|1350.5996099999975|
| 48|2000-03-10|28646.800781|28717.800781|27367.300781|28078.099609|26533.740234| 87502|            1350.5|
| 49|2000-03-13|     27154.0|28149.199219|     27154.0|27722.699219|26197.890625| 59507| 995.1992189999983|
| 50|2000-03-14|27935.900391|27935.900391|25945.599609|26869.699219|25391.804688| 43611|1990.3007819999984|
| 51|2000-03-15|25945.599609|26798.599609|25234.699219|26798.599609|25324.617188| 74138|1563.9003900000025|
| 52|2000-03-16|27082.900391|28291.300781|26016.699219|26016.699219|24585.720703| 84548|2274.6015620000035|
| 53|2000-03-17|26016.699219|26869.699219|24523.900391|25341.400391|23947.566406| 66119| 2345.798827999999|
| 54|2000-03-20|25519.099609|25519.099609|     24595.0|24879.300781|23510.880859| 53458| 924.0996090000008|
| 55|2000-03-21|24523.900391|25945.599609|24026.300781|24523.900391|23175.029297| 83282| 1919.298827999999|
| 56|2000-03-22|24239.599609|25128.099609|24097.400391|24452.800781|23107.839844| 43892|1030.6992180000016|
| 57|2000-03-23|24879.300781|25305.800781|23813.099609|23813.099609|22503.324219| 68089| 1492.701172000001|
| 58|2000-03-24|     24168.5|25590.199219|23813.099609|25092.599609|23712.449219| 59226|1777.0996099999975|
| 59|2000-03-27|24879.300781|25590.199219|24239.599609|24879.300781|23510.880859| 50926|1350.5996099999975|
+---+----------+------------+------------+------------+------------+------------+------+------------------+
only showing top 20 rows

### Write the generated data into files instead of the memory.

In [14]:
writer3=df_3.writeStream.outputMode("append")\
.format("csv")\
.option("path","OutStreamk/")\
.trigger(processingTime='5 second')\
.option("checkpointLocation","chkpnt")
query3= writer3.start()

23/10/06 11:20:22 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.

### Stop the query. Now, try reading the generated files into a normal dataframe
- Create a schema and use it to read the data.
- Show the output.

In [15]:
SreamSchema2 = StructType([ StructField('Id',IntegerType(), True),
                            StructField('Date',DateType(), True),
                            StructField('Open', DoubleType(), True),
                            StructField('High', DoubleType(), True),
                            StructField('Low', DoubleType(), True),
                            StructField('Close', DoubleType(), True),
                            StructField('Adj_Close', DoubleType(), True),
                            StructField('Volume', IntegerType(), True),
                            StructField('diff', DoubleType(), True)])

In [17]:
df_6 = spark.read.format("csv")\
.schema(SreamSchema2)\
.load("OutStreamk/")
df_6.show()

+---+----------+------------+------------+------------+------------+------------+------+------------------+
| Id|      Date|        Open|        High|         Low|       Close|   Adj_Close|Volume|              diff|
+---+----------+------------+------------+------------+------------+------------+------+------------------+
| 40|2000-02-29|25163.699219|26087.699219|24239.599609|25519.099609|24115.490234|233246|1848.0996099999975|
| 41|2000-03-01|25519.099609|25519.099609|25519.099609|25519.099609|24115.490234|     0|               0.0|
| 42|2000-03-02|25767.900391|29144.300781|25767.900391|28575.699219|27003.972656|408391|3376.4003900000025|
| 43|2000-03-03|27793.800781|29499.800781|26798.599609|27864.800781|26332.175781|216505| 2701.201172000001|
| 44|2000-03-06|28291.300781|29144.300781|27367.300781|28717.800781|27138.255859|170784|            1777.0|
| 45|2000-03-07|28575.699219|29357.599609|27935.900391|28504.599609| 26936.78125|109730|1421.6992180000016|
| 46|2000-03-08|28078.099609|28291.300781|     27154.0|28113.599609|26567.289063| 89331|1137.3007810000017|
| 47|2000-03-09|28717.800781|29428.699219|28078.099609|     28433.5|26869.591797|196669|1350.5996099999975|
| 48|2000-03-10|28646.800781|28717.800781|27367.300781|28078.099609|26533.740234| 87502|            1350.5|
| 49|2000-03-13|     27154.0|28149.199219|     27154.0|27722.699219|26197.890625| 59507| 995.1992189999983|
| 50|2000-03-14|27935.900391|27935.900391|25945.599609|26869.699219|25391.804688| 43611|1990.3007819999984|
| 51|2000-03-15|25945.599609|26798.599609|25234.699219|26798.599609|25324.617188| 74138|1563.9003900000025|
| 52|2000-03-16|27082.900391|28291.300781|26016.699219|26016.699219|24585.720703| 84548|2274.6015620000035|
| 53|2000-03-17|26016.699219|26869.699219|24523.900391|25341.400391|23947.566406| 66119| 2345.798827999999|
| 54|2000-03-20|25519.099609|25519.099609|     24595.0|24879.300781|23510.880859| 53458| 924.0996090000008|
| 55|2000-03-21|24523.900391|25945.599609|24026.300781|24523.900391|23175.029297| 83282| 1919.298827999999|
| 56|2000-03-22|24239.599609|25128.099609|24097.400391|24452.800781|23107.839844| 43892|1030.6992180000016|
| 57|2000-03-23|24879.300781|25305.800781|23813.099609|23813.099609|22503.324219| 68089| 1492.701172000001|
| 58|2000-03-24|     24168.5|25590.199219|23813.099609|25092.599609|23712.449219| 59226|1777.0996099999975|
| 59|2000-03-27|24879.300781|25590.199219|24239.599609|24879.300781|23510.880859| 50926|1350.5996099999975|
+---+----------+------------+------------+------------+------------+------------+------+------------------+
only showing top 20 rows

### Sort the dataframe based on the ID

In [18]:
finalDFSorted = df_6.sort('ID')
finalDFSorted.show()

+---+----------+------------+------------+------------+------------+------------+------+------------------+
| Id|      Date|        Open|        High|         Low|       Close|   Adj_Close|Volume|              diff|
+---+----------+------------+------------+------------+------------+------------+------+------------------+
|  0|2000-01-04|22817.900391|25696.800781|22817.900391|24879.300781|23510.880859|108745|2878.9003900000025|
|  1|2000-01-05|24523.900391|26229.900391|23670.900391|24417.300781|23074.294922|175990|            2559.0|
|  2|2000-01-06|24381.699219|24666.099609|22746.800781|22817.900391|21562.865234| 71746| 1919.298827999999|
|  3|2000-01-07|     22036.0|24879.300781|     22036.0|23884.199219|22570.513672|120984|2843.3007810000017|
|  4|2000-01-10|24879.300781|25519.099609|23813.099609|24061.900391|22738.439453|151371|            1706.0|
|  5|2000-01-11|     24168.5|     25021.5|23955.199219|24239.599609|22906.365234| 95943|1066.3007810000017|
|  6|2000-01-12|     24168.5|24452.800781|23457.599609|23670.900391|22368.947266| 61899|  995.201172000001|
|  7|2000-01-13|23670.900391|24132.900391|23102.199219|23244.400391| 21965.90625| 57538| 1030.701172000001|
|  8|2000-01-14|23457.599609|     24168.5|22746.800781|23244.400391| 21965.90625| 84267|1421.6992189999983|
|  9|2000-01-17|22533.599609|23457.599609|22533.599609|23457.599609|22167.376953| 67807|             924.0|
| 10|2000-01-18|23457.599609|     23742.0|22746.800781|23422.099609|22133.832031| 27995| 995.1992189999983|
| 11|2000-01-19|22817.900391|23173.300781|     22036.0|     22036.0|20823.970703| 44173|1137.3007810000017|
| 12|2000-01-20|21325.099609|22000.400391|     20756.5|21680.599609|20488.117188| 47550|1243.9003909999992|
| 13|2000-01-21|21680.599609|22391.400391|20863.099609|21680.599609|20488.117188| 80750|1528.3007819999984|
| 14|2000-01-24|20969.699219|21822.699219|20969.699219|20969.699219|19816.320313| 79906|             853.0|
| 15|2000-01-25|20258.900391|20934.199219|     19548.0|20116.699219|19010.236328|170925|1386.1992189999983|
| 16|2000-01-26|20223.300781|20543.199219|19761.300781|     20330.0|19211.804688| 59929| 781.8984379999965|
| 17|2000-01-27|     20401.0|22746.800781|     20330.0|21040.800781|19883.511719|139132|2416.8007810000017|
| 18|2000-01-28|21431.800781|22107.099609|21040.800781|21964.900391|20756.783203| 78640| 1066.298827999999|
| 19|2000-01-31|21325.099609|21893.800781|     21183.0|21467.300781|20286.552734| 45861| 710.8007810000017|
+---+----------+------------+------------+------------+------------+------------+------+------------------+
only showing top 20 rows